@import url("https://use.typekit.net/nsn3gvu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: proxima-nova, sans-serif;
}

.intro,
.contact,
.page {
	margin: 130px auto;
}

.secondary-heading {
	font-weight: 900;
	font-size: 28px;
}

p {
	font-size: 18px;
}

.icon:hover {
	fill: #407acb;
}
