@import url("https://use.typekit.net/nsn3gvu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Proxima Nova';
}

.intro,
.contact {
	margin: 130px auto;
}

.secondary-heading {
	font-weight: 900;
	font-size: 28px;
}

.icon:hover {
	color: #bd2626;
}
