@import url("https://use.typekit.net/nsn3gvu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: proxima-nova, sans-serif;
}

.intro,
.contact,
.page {
	margin: 90px auto 120px;
}

.intro {
	margin-top: 20px;
}

.description:hover {
	cursor: pointer;
}

.secondary-heading {
	font-weight: 900;
	font-size: 28px;
}

p {
	font-size: 18px;
}

.icon {
	transition: all ease-out 300ms;
}

.icon:hover {
	fill: #407acb;
}

li {
	padding: 5px 0;
}

.text-blue-900  {
	color: #105474;
}

.bg-blue-900 {
	background-color: #105474;
}

.text-blue-500 {
	color: #2b6cb0;
}
